<h3 class="ui header">{{t "forms.i-i-s-c-hernyjj1412-сотрудники-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.id
      class=(if (v-get validationModel "id" "isInvalid") "error")
      label=(t "forms.i-i-s-c-hernyjj1412-сотрудники-e.id-caption")
      data-test-i-i-s-c-hernyjj1412-сотрудники-e-id=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "id" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фио
      class=(if (v-get validationModel "фио" "isInvalid") "error")
      label=(t "forms.i-i-s-c-hernyjj1412-сотрудники-e.фио-caption")
      data-test-i-i-s-c-hernyjj1412-сотрудники-e-фио=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фио" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-c-hernyjj1412-сотрудники-e.должностиЛо-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должностиЛо
      displayAttributeName="наименование"
      autocomplete=true
      relationName="должностиЛо"
      projection="ДолжностиЛоL"
      title=(t "forms.i-i-s-c-hernyjj1412-сотрудники-e.должностиЛо-caption")
      readonly=readonly
      componentName="должностиЛоLookup"
      class=(if (v-get validationModel "должностиЛо" "isInvalid") "error")
      data-test-i-i-s-c-hernyjj1412-сотрудники-e-должностиЛо=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должностиЛо" "message")}}
  </div>
</form>
